<!DOCTYPE html>
<html lang="en">

<style>
  .search-container {
    display: flex;
    align-items: center;
    width: 300px;
    /* Adjust the width as per your preference */
    margin: 0 auto;
    /* Centers the search bar horizontally */
  }

  .search-input {
    flex: 1;
    padding: 8px;
  }

  .search-button {
    padding: 8px 12px;
  }
</style>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Movies</title>

  {{!--
  <link rel="stylesheet" href="styles.css"> --}}
</head>

<body>

  <header>
    <div class="container-fluid px-0">
      <nav class="navbar navbar-expand-lg shadow-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="sessions/new">
            <img src="/images/logo.png" alt="Logo" width="100" height="40" class="d-inline-block align-text-top">

          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="../profile" class="text-decoration-none">My profile</a>
          <a class="new-post-link text-decoration-none ps-4" href="/posts/new">Films</a>
          <a class="new-post-link text-decoration-none ps-4" href="/posts/new">Shows</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
              <form action='/sessions?_method=DELETE' method='POST'>
                <input id="logout_button" type="submit" value="Log Out">
              </form>
            </div>

          </div>
        </div>
      </nav>
    </div>
  </header>


   

 


  {{!--search by title--}}
  <form action="/movies/search" method="post">
    <div class="search-container">
      <input type="search" class="form-control" id="search-input-title" name="title" placeholder="title">
      <input type="search" class="form-control" id="search-input-genre" name="genre" placeholder="genre">
      <button type="submit" id="search-button" class="btn btn-outline-primary">Search</button>
    </div>
  </form>
    {{!--search by genre--}}
{{!-- <form action="/movies/search" method="post">
    <div class="search-container">
      <input type="search" class="form-control" id="search-input" name="title" placeholder="search">
      <button type="submit" id="search-button" class="btn btn-outline-primary">Search</button>
    </div>
  </form> --}}

   {{!-- Popular movies --}}
    <div id="movie-latest-popular-container">
      {{#each movies}}
      <div>
        <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="{{title}}" width="200" height="300">
        <span>{{title}}</span>
      </div>
      {{/each}}
    </div>
   {{!-- End of popular movies --}}


</body>

</html>