<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Movies</title>
 
  <link rel="stylesheet" href="/stylesheets/posts.css">
  
</head>



  <h1 class="text-center">Movies</h1>
  <div id="movie-container"></div>


<div id="movie-container">
  {{#each movies}}
    <div>
      <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="{{title}}" width="200" height="300">
      <span>{{title}}</span>
    </div>
  {{/each}}
</div>
</body>

</html>