<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Movies</title>
  <link rel="stylesheet" href="/stylesheets/posts.css">
  
</head>




  <h1 class="text-center">Movies</h1>

  





</body>

</html>


