<!DOCTYPE html>
<html lang="en">

<style>
  .search-container {
    display: flex;
    align-items: center;
    width: 300px;
    /* Adjust the width as per your preference */
    margin: 0 auto;
    /* Centers the search bar horizontally */
  }

  .search-input {
    flex: 1;
    padding: 8px;
  }

  .search-button {
    padding: 8px 12px;
  }
</style>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Movies</title>
 
  {{!--
  <link rel="stylesheet" href="styles.css"> --}}
</head>

<body>


  <h1 class="text-center">Movies</h1>
  <div id="movie-container"></div>
  
  {{!--search by title--}}
  <form action="/movies/search" method="post">
    <div class="search-container">
      <input type="search" class="form-control" id="search-input-title" name="title" placeholder="title">
      <input type="search" class="form-control" id="search-input-genre" name="genre" placeholder="genre">
      <button type="submit" id="search-button" class="btn btn-outline-primary">Search</button>
    </div>
  </form>
    {{!--search by genre--}}
{{!-- <form action="/movies/search" method="post">
    <div class="search-container">
      <input type="search" class="form-control" id="search-input" name="title" placeholder="search">
      <button type="submit" id="search-button" class="btn btn-outline-primary">Search</button>
    </div>
  </form> --}}


  
  <div id="movie-latest-popular-container">
  {{#each movies}}
    <div>
      <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="{{title}}" width="200" height="300">
      <span>{{title}}</span>
    </div>
  {{/each}}
</div>
  

</body>

</html>