<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="Sign up page for Cinetrackr.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title class="title">{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
</head>

<body>


    </div>

    <div class="row signup-box">
        
        <form id="new-user-form" action="/users/new" method="post"
            class="row g-3 col-8 offset-lg-1 border p-5  rounded shadow mt-0 mr-5" style="background-color: rgba(211, 211, 211, 0.7);">

            <p><span class="h3">Sign up!</span><br>It's quick and easy.</p>
            <hr>
            <div class="col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                <input id="firstName" type="text" class="form-control" name="firstName" value="" placeholder="First name" required>
            </div>
            <div class="col-md-6">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" id="lastName" name="lastName" value="" class="form-control" placeholder="Last name" required>
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email Address</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="Enter your email" required>
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Choose a password" required>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            {{#if errorMessages}}
            <p>The following errors occurred:</p>
            <ul>
                {{#each errorMessages}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            {{/if}}

            <div class="col-12">
                <input id="submit" type="submit" class="btn btn-custom" value="Register">
                <p class="mt-2 mb-0">Already registered?<a class="text-link" href="../sessions/new">  LOG IN HERE!</a></p>
            </div>
        </form>

    
</body>

</html>